In [1]:
# Pure + NN

In [11]:
import pandas as pd

In [12]:
fastai = pd.read_csv('0.78234_fastai.csv')

In [13]:
pure = pd.read_csv('0.78329_pure_bayes.csv')

In [14]:
sample = pd.read_csv('sample_submission.csv')

In [15]:
sample.target = (fastai.target+pure.target)/2

In [16]:
sample.to_csv('ensemble.csv',index=False)

In [17]:
sample.head()

       id    target
0  600000  0.137964
1  600001  0.242173
2  600002  0.171906
3  600003  0.143220
4  600004  0.128952